body {
  margin: 0;
}

header {
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #e5e4e2;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  margin-left: 6px;
  text-decoration: none;
  color: #353935;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.hero {
  text-align: center;
  padding: 2rem;
}
.features{
  background: #f9fafb;
  padding: 2rem 1rem;
}
.features .container{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap:wrap;
  margin: 2rem auto;
  width: 90%;
}
.feature {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  flex: 1 1 250px;
  max-width: 350px;
  
}

.footer {
  text-align: center;
  background: #f3f4f6;
  padding: 1rem;
  margin-top: 2rem;
  color: #4b5563;
}
